In [1]:
from env import get_connection
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import acquire
import prepare

import seaborn as sns
from math import sqrt
from scipy import stats
from scipy.stats import pearsonr, spearmanr
import wrangle as w

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer as qt
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

# Acquire

In [2]:
# Here I used my wrangle function to acquire, prepare, and split my data
df= acquire.get_zillow()

# Prepare

In [3]:
train, val, test= prepare.prep_zillow(df)

(1198531, 8)
(513657, 8)
(428047, 8)

# Explore

In [3]:
train.head()

,Unnamed: 0,year_built,property_value,tax_amount,bedrooms,bathrooms,sqr_feet,fips
1567873,1567873,1950.0,191578.0,2712.21,3.0,1.0,1248.0,6037.0
1218138,1218138,1950.0,1345206.0,16539.04,2.0,2.0,1326.0,6037.0
339661,339661,1953.0,356648.0,4575.16,2.0,1.0,1053.0,6037.0
1017133,1017133,1946.0,175069.0,2635.51,3.0,2.0,1256.0,6037.0
40250,40250,1957.0,543000.0,6344.96,3.0,2.0,1640.0,6059.0